.link {
    font-size: 14px!important;
    font-weight: 600!important;
}

.link:hover{
    color: var(--primary)!important;
}

@media (max-width: 576px) { 
    .background{
        background-color: white !important;
    }
}