.SocialButton{
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 30%;
    border: 2px solid var(--primary);
    background-color: transparent;
  }
.SocialButton:hover{
    background-color: var(--primary);
    border: 2px solid var(--primary);
    color: white;

  }  
.SocialButton .icon{
    font-size: 1.4rem;
    vertical-align: bottom;
    color: var(--primary-light-back);
} 