/* timeline me  starts*/
.separator{
    position: absolute;
    height: 85%;
    z-index: 3;
    width: 100%;
    
}

@media (max-width: 576px) { 
	.section-margin {
		margin-bottom: 4rem !important;
	}

}