.dot{
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    background-color: var(--primary-light-back	)!important;
    z-index: 10;
	border: 3px solid black;
}

@media (max-width: 576px) { 
		/* timeline */
	.timeline-details{
		padding-left: 4rem!important;
	}

	.dot{
		left: 0.92rem!important;
	}

}