.dot{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: var(--primary	)!important;
    z-index: 10;
}

@media (max-width: 576px) { 
		/* timeline */
	.timeline-details{
		padding-left: 4rem!important;
	}

	.dot{
		left: 0.92rem!important;
	}

}