body {
  margin: 0;
  font-weight: 400;
  background-color: var(--dark-mode);
  letter-spacing: 1.6px !important;
  line-height: 1.5;
  color: white;
}
/* constants */
hr {
  width: 13%;
  background-color: var(--primary);
  height: 0.13rem;
  border: 0;
  text-decoration: none;
}
:root {
  --light-mode: #edf1f5;
  --dark-mode: #100E17;
  --primary: #03b97d;
  --primary-darken: #029c66;
  --primary-back: #1E1E24;
  --spare: #ff6900;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.section-margin {
  margin-bottom: 4rem !important;
}