body {
  margin: 0!important;  
  font-weight: 400;
  background-color: white;
  letter-spacing: 0.03rem !important;
  line-height: 1.5;
  font-family: 'ubuntu', 'Roboto', sans-serif;

}

/* constants */
hr {
  width: 13%;
  background-color: var(--primary);
  height: 0.13rem;
  border: 0;
  text-decoration: none;
}
p{
  font-size: 1rem;
}
a {
  text-decoration: none;
}
input::placeholder{
  color: var(--primary-light-back)!important;
}
textarea::placeholder{
  color: var(--primary-light-back)!important;
  
}

:root {
  --primary-light-back: #ffffff;
  --secondary-light-back: #f4f6fb;
  --primary-dark-mode: #03131a;

  --primary: #E54B4B;
  --secondary: #e54b4b;
  --primary-text: #1c2f50;
  --secondary-text: #979797;

}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.section-margin {
  margin-bottom: 5rem !important;
}
.section-top-padding{
  padding-top: 4rem!important;
}

.transition {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 576px) { 
  .profileImage {
    display: none!important;
  }
}