body {
  margin: 0;
  font-weight: 400;
  background-color: var(--dark-mode);
  letter-spacing: 0.03rem !important;
  line-height: 1.5;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

/* constants */
hr {
  width: 13%;
  background-color: var(--primary);
  height: 0.13rem;
  border: 0;
  text-decoration: none;
}

/* 040615 */
:root {
  --primary-light-back: #ffffff;
  --secondary-light-back: #f4f6fb;
  --primary-dark-mode: #03131a;

  --primary: #E54B4B;
  --secondary: #e54b4b;
  --primary-text: #1c2f50;
  --secondary-text: #979797;

}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
}

.section-margin {
  margin-bottom: 4.5rem !important;
}

.transition {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* "Roboto",sans-serif
back => rgba(37,88,171,.05)
rgba(37,88,171,.05)

==> blure sort = > #2fb4ae !important

prange = > FF7F51

ref links = > https://themesdesign.in/harold/layout/index.html

link2 = > https://shreethemes.in/cristino/layouts/index.html 
time line good in second

*/